<html ng-app="listaTelefonica">
<meta charset="UTF-8"> 
<head>

	<title>Lista Telefonica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css" />
	<style type="text/css">
		.jumbotron{
			width: 400px;
			text-align: center;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}
		.table{
			margin-top: 20px;
		}
		.form-control{
			margin-bottom: 5px;
		}
	</style>
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
</head>
<body ng-controller="listaTelefonicaController">
	<div class="jumbotron">

		<div>
			<h2 ng-model="app"/>
		</div>

		<div>
			<table class="table table-striped">
				
				<tr>
	 				<th>Nome</th>
					<th>Numero</th>
					<th>Operadora</th>
	 			</tr>
		 			
	 			<tr ng-repeat="c in contatos">
	 				<td ng-bind="c.nome" />
	 				<td ng-bind="c.numero" />
	 				<td ng-bind="c.operadora.nome" />
	 			</tr>

			</table>
 		</div>
		
		<hr />
		
		<div>
 			<input class="form-control" type="text" ng-model="contato.nome">
 			<input class="form-control" type="text" ng-model="contato.numero">

 			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
 				<option value="">Selecione uma operadora</option>
 			</select>
 		</div>

 		<div>
  			<button class="btn btn-default" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.numero">Add Contato</button>
  		</div>
 	</div>
</body>
	<footer>
		<script type="text/javascript">
			var mod = angular.module("listaTelefonica",[]);
			mod.controller("listaTelefonicaController", function($scope){
				$scope.app="Lista Telefonica";

				$scope.contatos=[
							{nome:"João", numero:"12345678"},
							{nome:"Maria", numero:"88888888"},
							{nome:"AAA", numero:"123"}
				];

				$scope.operadoras=[
						{nome:"Oi", codigo:1},						
						{nome:"Claro", codigo:2},
						{nome:"Tim", codigo:3},
						{nome:"Vivo", codigo:4},
				];

				$scope.adicionarContato = function(contato){
					$scope.contatos.push(angular.copy(contato));
					delete $scope.contato;
				}
			});
		</script>
	</footer>
</html>