<html ng-app="listaTelefonica">
<head>
	<title>Lista Telefonica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css" />
	<style type="text/css">
		.jumbotron{
			width: 400px;
			text-align: center;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}
		.table{
			margin-top: 20px;
		}
		.form-control{
			margin-bottom: 5px;
		}
	</style>
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
</head>
<body ng-controller="listaTelefonicaController">
	<div class="jumbotron">
		<div>
			<h2 ng-bind="app" />
		</div>
		
		<div>
			<table class="table table-striped">
			
				<tr>
	 				<th>Nome</th>
					<th>Numero</th>
	 			</tr>
	 			
	 			<tr ng-repeat="c in contatos">
	 				<td ng-bind="c.nome" />
	 				<td ng-bind="c.numero" />
	 			</tr>

			</table>
		
			<hr />
			
			<div>
	 			<input class="form-control" type="text" ng-model="nome">
	 			<input class="form-control" type="text" ng-model="numero">
	 		</div>
	 		
	 		<div>
	 			<button class="btn btn-default" ng-click="adicionarContato()">Add Contato</button>
			</div>
		</div>
	</div>
</body>
	<footer>
		<script type="text/javascript">
			var mod = angular.module("listaTelefonica",[]);
			mod.controller("listaTelefonicaController", function($scope){
				$scope.app="Lista Telefonica";
				$scope.contatos=[
							{nome:"João", numero:"12345678"},
							{nome:"Maria", numero:"88888888"},
							{nome:"AAA", numero:"123"}
				];

				$scope.adicionarContato = function(){
					$scope.contatos.push({
						nome: $scope.nome, 
						numero: $scope.numero 
					});
				}
			});
		</script>
	</footer>
</html>